@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Detalhes do Fornecedor";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFornecedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoFornecedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index" >Voltar</a>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>

</div>
