@model IEnumerable<DevIO.App.ViewModels.FornecedorViewModel>

@{
    ViewData["Title"] = "Fornecedores";
}

<div class="title-index">
    <h3>@ViewData["Title"]</h3>
    <a class="btn btn-info" asp-action="Create">Novo Fornecedor</a>
</div>
<p></p>
<table class="table table-hover grid-listagem" >
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil"></span></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
